{% extends "layout/base.html.twig" %}

{% block title %}View all Planets{% endblock %}
{% block app %}
<h1>Viewing all Planets:</h1>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 1rem;
}
</style>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for star in stars %}
            <tr>
                <td>{{ star.id}}</td>
                <td>{{ star.name}}</td>
                <td>{{ star.size}}</td>
                <td>{{ star.type}}</td>
                <td><a href="/stars/{{star.id}}/delete">Delete</a></td>
                <td><a href="/stars/{{star.id}}/edit">Edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} 
